@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: jap_font;
  src: url(assets/GT200001.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

body {
  background: #eef2ff;
  overflow-x: hidden;
}

.message_font {
  font-size: 22px;
}

.thread_shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
}

.jap_font {
  font-family: jap_font;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #948CAD;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 4px;
}